.Chat {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.Chat .userList {
  background-color: transparent;
  width: clamp(330px, 90%, 400px);
  display: flex;
  flex-direction: column;
  padding: 10px 6px 10px 6px;
  gap: 10px;
}
.Chat .userList .userProfileList {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 6px 10px 6px;
  gap: 10px;
  overflow-x: auto;
}

.Chat .userList .user {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  position: relative;
  width: 100%;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.1);
}
.Chat .userList .user:hover {
  background-color: #f5f5f5;
  transition: all 1s;
}
.Chat .userList .user .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}

.Chat .userList .user h4 {
  text-transform: uppercase;
}
.Chat .userList .user .profile img {
  width: 50px;
  border: 1px black;
}

.Chat .userChat {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 30px 5px 7px;
  gap: 8px;
  background-color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.Chat .userChat .chatProfileHeader {
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}
.Chat .userChat .chatProfileHeader .delete {
  background-color: rgba(215, 209, 196, 0.576);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer ;
}
.Chat .userChat .chatBox {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 20px 10px;
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;


}
.Chat .userChat .chatProfileHeader .chatProfile {
  display: flex;
  gap: 10px;
  background-color: #2D2D2D;
  width: fit-content;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  transform: scale(0.9);
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
  
}
.Chat .userChat .chatProfileHeader .chatProfile:hover {
  background-color: rgb(82, 81, 81);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
}
.Chat .userChat .chatProfileHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.Chat .userChat .chatProfileHeader p {
  color: #7cd420;
}

.sendMasseg {
  background-color: transparent;
  display: flex;
  padding: 0 10px 0 10px;
  margin: 7px 0 7px 0;
}
.sendMasseg .send {
  background-color: #ebebeb;
  padding: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  position: relative;
  min-width: 70px;
  max-width: 70%;
  justify-content: center;
}
.sendMasseg .send > p {
  font-size: 15px;
  word-break: break-all;
}
.sendMasseg .send .time {
  position: absolute;
  font-size: 10px;
}

.sendMessageBox {
  padding: 29px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sendMasseg.active .send {
  background-color: black;
  animation: tilt 1s infinite;
  color: white;
}

.user .deleteParti {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user .deleteParti .delete{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3px;
  cursor: pointer;
}

.user .deleteParti :hover{
  background-color: #2D2D2D;
  transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
} 

.Chat .userChat .chatProfileHeader .delete:hover{
  background-color: #2D2D2D;
  transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
}

@keyframes tilt {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg); /* Corrected */
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  bottom: 3px;
  color: white;
}

.dot.active {
  background-color: #E6E6E6;
  top: -4px;
  left: -5px;
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot.active::after {
  content: attr(a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}


@media only screen and (max-width: 1026px) {
  .Chat {
    height: calc(100% - 100px);
  }
}



@media only screen and (max-width: 428px) {
  .Chat .userList {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .Chat .userList .userProfileList {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
  }
  
  .Chat {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .Chat .userChat {
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
  }
  .Chat .userChat.active{
    display: none;
  }

  .Chat .userChat .chatProfileHeader {
    padding: 0;
    width: 100%;
  }

  .Chat .userChat .chatProfileHeader .delete{
    width: 25px;
    height: 25px;
  }
  .delete{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 4px;
  }
 .delete:hover{
    background-color: #2D2D2D;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
  }
  .Chat .userChat .chatProfile p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Chat .userChat .chatBox {
    border-radius: 0;
  }



  .sendMessageBox {
    padding: 10px;
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dot.active::after {
    content: attr(a);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
  }

  .user .deleteParti .delete{
    width: 19px;
    height: 19px;
  }
}





.divData{
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}




.user {
  position: relative;
  align-items: center;
}